@import "tailwindcss";

@font-face {
    font-family: "Maple Mono";
    src: url("/fonts/MapleMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Maple Mono";
}
