@import "tailwindcss";

@font-face {
    font-family: "Maple Mono";
    src: url("/fonts/MapleMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
  --color-bodily-500: #e3dcd1;
  --color-apple-500: #b83a2d;
  --color-brokkoli-500: #4e6851;
}

body {
    font-family: "Maple Mono";
}
