@import "tailwindcss";

@theme {
    --color-bodily: #e3dcd1;
    --color-apple: #b83a2d;
    --color-brokkoli: #4e6851;
    --color-link: #8ea4de;
    --color-yetdarker: #171717;
}

::selection {
    background: oklch(83.336% 0.11557 101.444);
    color: black;
    text-shadow: none;
}

html, body {
    font-family: "Maple Mono";
    background-color: var(--color-yetdarker);
    color: var(--color-bodily);
}
