@import "tailwindcss";

@font-face {
    font-family: "Maple Mono";
    src: url("/fonts/MapleMonoNL-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-bodily: #e3dcd1;
    --color-apple: #b83a2d;
    --color-brokkoli: #4e6851;
    --color-link: #8ea4de;

    --text-tiny: 0.5rem;
}

::selection {
    background: oklch(94.5% 0.129 101.54);
    color: black;
    text-shadow: none;
}

body {
    font-family: "Maple Mono";
}
