@import "tailwindcss";

@theme {
    --color-bodily: #e3dcd1;
    --color-apple: #b83a2d;
    --color-brokkoli: #4e6851;
    --color-link: #8ea4de;
    --color-yetdarker: #171717;
}

::selection {
    background: oklch(94.5% 0.129 101.54);
    color: black;
    text-shadow: none;
}

html, body {
    font-family: "Maple Mono";
    background-color: var(--color-yetdarker);
    color: var(--color-bodily);
}

.squish {
    @apply transition-transform duration-75 ease-out active:scale-90
}
